*{
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 10px;
    background-color: #f1f1f1;
}
.header {
    padding: 30px;
    text-align: center;
    border: solid palevioletred;
    background-color: white;
}
.header h1 {
    font-size: 50px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
  
.topnav a:hover{
      background-color: orange;
      color: black;
}
  
.leftcolumn{
      float: left;
      width: 75%;
}
  
.righcolumn{
      float: left;
      width: 25%;
      background-color: beige;
      padding-left: 20px;
}
.card{
      background-color: white;
      padding: 10px;
      margin-top: 10px;
}
  
.fakeimg{
      background-color: #aaa;
      padding: 10px;
      width: 100%;
}
.row::after{
      content: "";
      display: table;
      clear: both;
}
.footer{
      padding: 20px;
      text-align: center;
      background-color: #ddd;
      margin-top: 20px;
}

@media screen and(max-width:800px){
   .leftcolumnw, .righcolumn{
    width: 100%;
    padding: 0;
   }
}

@media screen and(max-width:400px){
    .topnav{
        float: none;
        width: 100%;
    }
}